.page {
  display: flex;
  flex-direction: column;
  max-width: 954px;
  height: 790px;
  margin: 0 auto;
  background-color: #FAFAFA;
  padding: 40px 48px;
}

.page__header {
  margin: 0;
}

.page__title {
  margin: 0;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
}
