.search {
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.search__icon {
  position: absolute;
  top: 15px;
  left: 13px;
}

.search__input {
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: 1px solid #EBEBEB;
  margin-bottom: 30px;
  padding-left: 37px;
  padding-right: 82px;
}

.search__input::-webkit-search-clear-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.search__input::placeholder {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #D1D1D1;
}

.search__total {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  position: absolute;
  right: 17px;
  top: 15px;
  color: #D1D1D1;
}
