.plug {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plug__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  margin: 0 0 50px;
}

.plug__button {
  background-color: #2EE5AC;
  margin: 0;
  cursor: pointer;
}
