.tableRow {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 3px;
  background-color: #FFFFFF;
  padding: 0 15px 0 0;
  text-decoration: none;
  color: inherit;
}

.tableRow:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #00000026;
}

.tableRow__label {
  width: 4px;
  height: 100%;
  background-color: #E14165;
  margin-right: 11px;
  border-radius: 3px 0 0 3px;
}

.tableRow__label_type_delivery {
  background-color: #C2C2FF;
}

.tableRow__label_type_games {
  background-color: #8686FF;
}

.tableRow__name {
  font-size: 13px;
  line-height: 15px;
  font-weight: 500;
  margin: 0;
  width: 390px;
}

.tableRow__text {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin: 0;
}

.tableRow__type {
  width: 100px;
  margin-right: 25px;
}

.tableRow__text_type_bold {
  width: 62px;
  font-weight: 500;
  margin-right: 54px;
}

.tableRow__text_type_online {
  color: #1BDA9D;
}

.tableRow__text_type_paused {
  color: #FF8346;
}

.tableRow__text_type_draft {
  color: #5C5C5C;
}

.tableRow__text_type_stopped {
  color: #FE4848;
}

.tableRow__text_type_url {
  text-align: left;
  width: 125px;
}

.tableRow__button_green {
  background-color: #2EE5AC;
}

.tableRow__button_gray {
  background-color: #7D7D7D;
}
